@import url('http://fonts.cdnfonts.com/css/minecraft-4');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}


#tools, #game-tools, #tools-description {
    background-color: #000;
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0.3vh;
}



#axe, #pickaxe, #shovel {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 5vw;
    height: 5vw;
    margin-bottom: 2vh;
    border: 1px solid #fff;
    text-align: center;
    align-items: bottom;
    box-sizing: border-box;
    font-family: 'Minecraft', sans-serif;
    color: #fff;
    font-size: 1.3vw;
}

#axe {
    background: url(./images/axe.png) no-repeat center center/cover;
}

#pickaxe {
    background: url(./images/pickaxe.png) no-repeat center center/cover;
    background-size: 80%;
}

#shovel {
    background: url(./images/shovel.jpg) no-repeat center center/cover;
}

#bank-rock, #bank-dirt, #bank-grass, #bank-trunk, #bank-leaves {
    width: 4vw;
    height: 4vw;
    border: 1px solid #fff;
    margin: 0.5vw;
    cursor: grab;
    font-weight: bold;
    color: white;
    font-size: 2vw;
}


#intro-page, #container {
    width: 100vw;
    height: 100vh;
    display: flex;
}

#intro {
    background-image: url("./images/dirt.jpg");
    width: 90vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#game-name {
    width: 30%;
}

#start-button {
    background-color: aliceblue;
    font-family: 'Minecraft', sans-serif;
    padding: 0.3rem;
    color: black;
    font-weight: 600;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 1px solid #000;
    text-decoration: none;
    margin-bottom: 4rem;
}

#description {
    background-color: #000;
    opacity: 0.5;
    padding: 1rem;
    font-size: 1.5rem;
    margin: 3vw;
    color: #fff;
    text-align: center;
    font-family: 'Minecraft', sans-serif;
}


#game-tools #pickaxe, #axe, #shovel {
    cursor: grab;
}