#intro-page {
    flex-direction: column;
}

#intro, #board-container {
    width: 100vw;
}

#tools, #game-tools, #tools-description {
    width: 100vw;
    height: 20vmin;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 1vh;
}

#axe, #pickaxe, #shovel {
    width: 15vw;
    height: 13vw;
    font-size: 3vw;
    margin-bottom: 1vh;
}



#bank-rock, #bank-dirt, #bank-grass, #bank-trunk, #bank-leaves {
    width: 8vw;
    height: 8vw;
}

#banks {

    flex-direction: row;
}

#container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#board-container {
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 0;
}

#game-name {
    width: 60%;
}

#game-tools {
    flex-direction: column;
    gap: 1vw
}